* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 6.25%;
    --black: #282828;
    --lightwhite: #bebebe;
    --white: #ffffff;
    --ligthgray: #959595;
    --gray: #787878;
    --red: #ff4f4f;
    --yellow: #ffcf23;
}

body {
    padding: 0;
}

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('Noto Sans KR.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('Roboto.woff') format('woff');
    unicode-range: U+0041-005A, U+0061-007A;
}

.g {
    display: grid;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fg {
    flex-grow: 1;
}

.fsbetween {
    justify-content: space-between;
}

.fcenter {
    justify-content: center;
}

.flect {
    justify-content: left;
}

.hcenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-drag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.init-button {
    border: 0;
    background-color: transparent;
}
.init-button:active {
    background-color: transparent !important;
}
.init-button:disabled {
    background-color: transparent;
}

.file-focus {
    background-color: #cbf3ff !important;
    outline: 1rem solid #baefff;
}

.image-focus {
    outline: 0;
}
.image-child-focus {
    filter: brightness(50%) !important;
}

.video-focus {
    outline: 1rem solid #18a1ca;
}

p {
    font-size: 16rem;
}
